@import '../../node_modules/bulma/bulma.sass';

body {
  &#light {
    line-spacing: 1.2em;
    color: $black;
    background: $white;
    background-color: $white;
    nav,
    nav * {
      background-color: transparent;
      color: $black;
    }
    a,p,h1,h2,h3,h4,h5,h6,small,span {
      color: $black;
    }
  }
  &#dark {
    color: $white;
    background: $black;
    background-color: $black;
    nav,
    nav * {
      background-color: transparent;
      color: $white;
    }
    a,p,h1,h2,h3,h4,h5,h6,small,span {
      color: $white;
    }
    .box {
      background-color: $black;
    }
  }
}
